table{
  width: 100%;
  border-collapse: collapse;
  table{
    margin-left: 64px !important;
    width: calc(100% - 96px) !important;
    td{
      border-bottom: none !important;
    }
  }
  td{
    padding: 8px 16px;
    font-size: 18px;
    text-align: center;
  }

  th{
    font-size: 20px;
    border-bottom: 2px solid #333;
    padding: 16px;
  }
}
.data{
  font-size: 18px;
  font-weight: bold;
  .label{
    font-weight: normal !important;
  }
}
